@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    @apply h-screen flex flex-col;
}
#root{
    @apply h-full;
}
.icon{
    @apply w-8 h-8;
}

.sideBar .link{
    @apply flex items-center gap-x-4 rounded-lg p-4 w-full hover:bg-gray-50;
}

form .input{
    @apply  border-2 p-4 rounded-xl my-3;
}

.home{
    background: url('/src/assets/images/');
}
.container{
    background: url('/src/assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

