@tailwind base;
@tailwind components;
@tailwind utilities;

*:hover{
    cursor:pointer;
    user-select: none;
}
html, body{
    @apply h-screen w-screen;
}
#root{
    @apply w-full h-full;
}
.icon{
    @apply w-8 h-8;
}

.sideBar .link{
    @apply flex items-center gap-x-4 rounded-lg p-4 w-full hover:bg-gray-50;
}
.sideBar .list{
    @apply flex justify-around items-center w-full h-full;
}
form .input{
    @apply  border-2 p-4 rounded-2xl my-3;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }
  
input[type='number']{
    @apply appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none; 
}

.home{
    background: url('/src/assets/images/home.jpg');
}

.container{
    background: url('/src/assets/images/bg.jpg'); 
}

.export{
    background: url('/src/assets/images/bg.jpg');
}
.login{
    background: url('/src/assets/images/login.jpg');
}
.fallback{
    background:url('/src/assets/images/fallback.png');
}
.home,
.container,
.export,
.login,
.fallback{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

table, th, td{
    @apply border-none border-collapse text-center;
}
table{
    @apply w-full;
}
.error{
    @apply text-red-600 font-medium px-3 py-1;
}

table{
    @apply  bg-white/5  backdrop-blur-lg shadow-lg rounded-2xl rounded-t-3xl
}

.dt-search{
    margin-right: 730px;
}
