@tailwind base;
@tailwind components;
@tailwind utilities;
*:hover{
    cursor:pointer;
    user-select: none;
}
html, body{
    @apply h-screen w-screen ;
}
#root{
    @apply w-full h-full;
}
.icon{
    @apply w-8 h-8;
}

.sideBar .link{
    @apply flex items-center gap-x-4 rounded-lg p-4 w-full hover:bg-gray-50;
}

form .input{
    @apply  border-2 p-3 rounded-xl my-3;
}
input[type='number']{
    @apply appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none; 
}

.home{
    background: url('/src/assets/images/home.jpg');
}

.container{
    background: url('/src/assets/images/bg.jpg'); 
}

.export{
    background: url('/src/assets/images/export.jpg');
}
.home,
.container,
.export{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

table, th, td{
    @apply border-2 border-collapse;
}
table{
    @apply w-full;
}
.error{
    @apply text-red-600 font-medium px-3 py-1;
}

table.dataTable{
    @apply   bg-white/5  backdrop-blur-lg shadow-lg rounded-2xl rounded-t-3xl
}

table.dataTable tr{
    @apply hover:font-medium
}

.dt-search{
    margin-right: 730px;
}
